@{
    ViewData["Title"] = "Home Page";
}
    <div class="container">
        <div class="row">
            <div class="col-6 col-12-medium">

                <!-- Banner Copy -->
                <p class="titulo-banner">Seja Bem vindo Sistema NADD</p>
                <p class="desc">Este sistema foi criado com o Objetivo de auxiliar os funcionarios do NADD em suas avaliações sobre as provas desenvolvida pelos professores (a).</p>
            </div>
            <div class="col-6 col-12-medium imp-medium">

                <!-- Banner Image -->
                <a href="#" class="bordered-feature-image tamanho-banner-1"><img src="~/images/img_gabarto.jpg" alt="" /></a>

            </div>
        </div>
    </div>