@model NADD.Models.Professor

@{
    ViewData["Title"] = "Create";
}

<h2>Registrar Novo(a)</h2>

<h4>Professor(ra)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeProfessor" class="control-label"></label>
                <input asp-for="NomeProfessor" class="form-control" />
                <span asp-validation-for="NomeProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailProfessor" class="control-label"></label>
                <input asp-for="EmailProfessor" class="form-control" />
                <span asp-validation-for="EmailProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelProfessor" class="control-label"></label>
                <input asp-for="TelProfessor" class="form-control" />
                <span asp-validation-for="TelProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfProfessor" class="control-label"></label>
                <input asp-for="CpfProfessor" class="form-control" />
                <span asp-validation-for="CpfProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-default">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
