@model NADD.Models.Curso

@{
    ViewData["Title"] = "Excluir";
}


<h3>Você tem certeza que você deseja deletar?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCurso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeCurso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area.NomeArea)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CursoId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Voltar</a>
    </form>
</div>
