@model NADD.Models.Disciplina

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<h4>Disciplina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DisciplinaId" />
            <div class="form-group">
                <label asp-for="NomeDisciplina" class="control-label"></label>
                <input asp-for="NomeDisciplina" class="form-control" />
                <span asp-validation-for="NomeDisciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoId" class="control-label">Curso</label>
                <select asp-for="CursoId" class="form-control" asp-items="ViewBag.CursoId"></select>
                <span asp-validation-for="CursoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-default">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
